<h1 align="center">List of articles</h1>

<% @articles.each do |article| %>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to article.title, article_path(article) %>
                </div>
                <div class="article-body">
                    <%= truncate(article.description, length: 100) %>
                </div>
                <div class="article-actions">                    
                    <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Delete article", article_path(article), method: :delete, 
                                                data: {confirm: "Are you sure ?"}, 
                                                class: "btn btn-xs btn-danger" %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<p><%= link_to 'Return to Home', root_path %></p>