<h2 align="center">Title : <%= @article.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center description"><strong>Description :</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="article-actions">
        <%= link_to "Return back", articles_path, class: "btn btn-xs btn-success" %>
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete article", article_path(@article), method: :delete, 
                                                data: {confirm: "Are you sure ?"}, 
                                                class: "btn btn-xs btn-danger" %>
    </div>

</div>