<div class="center jumbotron">

    <h1>Alpha Blog</h1>
    <%= link_to "Alpha Blog", articles_path, class: "btn btn-primary btn-lg" %> | <%= link_to 'About Page', about_path, class: "btn btn-primary btn-lg" %>

</div>