$navbar-default-bg:#54ceaf;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('sample_banner.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1{
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description{
    margin-top: 0;
}
.article-title{
    font-weight: bold;
    font-size: 1.5em;
}
.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer{
    margin-top: 35px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer a:hover{
    color: #222;
}
footer small{
    float: left;
}
footer ul{
    float: right;
    list-style-type: none;
}
footer ul li{
    float: left;
    margin-left: 15px;
}